@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

.body{
font-size: 14px;
font-family: oswald;
}

nav {
font-family: oswald; 
font-size: 14px;
}

#main {
width: 900px; 
margin: 10px auto;
}

.nome{
font-family: Bungee Inline;
font-size: 46px;
font-weight: lighter;
}
/*Set the menu to flexible ( the display flex) and use justify-content to define the space between columns */
#menu {
display: flex;
justify-content: space-between;
}

/*Set a column width*/
.menu-side {
   width: 420px;
}

section {
margin-bottom: 20px; 
padding: 10px;
}

/* Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
h2 {
margin-top: 0;
text-transform: uppercase;
}

#starters{
border:2px solid;
}

#desserts{
border:2px solid;
}

dt {
display: inline;
font-weight: 700;
font-size: 16px;
}
dt::after{
content: ",";
}
/* Make a comma appear after the name of each menu item (before the description) */

dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px;}

address{
text-align: right;
}

/* draw a 2px thick black border around the starters and desserts sections of the menu */
